@charset 'UTF-8';

@import 'compass';
@import 'settings';

@import 'components/icomoon';
@import 'components/volume';
@import 'components/progress';
@import 'components/button';

body {
  @extend %bg-gradient;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

$player-width: 450px;
$player-height: 300px;
$slider-width: 100%;

.demo-position {
  margin: 0 auto;
  top: 30vh;
}

.player {
  @extend %bg-gradient;
  @extend .demo-position;

  @include box-shadow($player-shadow 0px 1px 2px);

  // DEMO
  // border: 1px solid $white;
  border-radius: $global-border-radius $global-border-radius;
  padding: 2em;
  // height: $player-height;
  width: $player-width;
  display: flex;
  flex-wrap: wrap;

  .buttons {
    display: flex;
    flex-flow: row;

    .button-wrapper {
      display: inline-flex;

      @extend .btn-wrapper;
      .button {
        @extend .btn;
      }
    }
  }

  .visor {
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
  }

  .volume {
    display: flex;
  }
  .progress {
    display: flex;
  }
}


// ANIMATIONS
