// Fonts library

$icomoonPath: 'assets/fonts/';

@font-face {
  font-family: 'icoreactoplayer';
  src:url('#{$icomoonPath}/icoreactoplayer.eot');
  src:url('#{$icomoonPath}/icoreactoplayer.eot') format('embedded-opentype'),
		url('#{$icomoonPath}/icoreactoplayer.ttf') format('truetype'),
		url('#{$icomoonPath}/icoreactoplayer.woff') format('woff'),
		url('#{$icomoonPath}/icoreactoplayer.svg#icoreactoplayer') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icoreactoplayer';
  speak: none;
	font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .shim{
        display: none;
   }
}

// Icon sticked in corner of a block element
.sticked-icon {
    display: block;
    position: relative;
    padding-left: rem-calc(40px);
    font-family: inherit;

    &[class^="icon-"]:before,
    &[class*=" icon-"]:before{
        position: absolute;
        top: rem-calc(15px);
        left: rem-calc(15px);
        font-family: 'icoreactoplayer';
        //font-size: rem-calc(15px);
    }

    &>.shim{
            display: none;
    }
}

// Prepend text button with an icon from a class (without <i class="">)
.button[class^="icon-"], .button[class*=" icon-"] {
    font-family: inherit;

    &:before{
        font-family: 'icoreactoplayer';
        margin-right: rem-calc(5px);
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
  &.icoAft {

    &:before{
     position:reltive;
      right:0.5rem;
      width:2rem;
    }


  }

}

// Icon Sizes
.icon-2x{
    font-size: 2em;

    &.sticked-icon{
        font-size: inherit;
        padding-left: 3.5em;

        &[class^="icon-"]:before,
        &[class*=" icon-"]:before{
            position: absolute;
            top: 0.5em;
            left: 0.5em;
            font-family: 'icoreactoplayer';
            font-size: 2em;
        }
    }

    &>.shim{
            display: none;
    }
}
.icon-3x{
    font-size: 3em;

    &.sticked-icon{
        font-size: inherit;
        padding-left: 5.5em;

        &[class^="icon-"]:before,
        &[class*=" icon-"]:before{
            position: absolute;
            top: 0.5em;
            left: 0.5em;
            font-family: 'icoreactoplayer';
            font-size: 3em;
        }
    }

    &>.shim{
            display: none;
    }
}
.icon-4x{
    font-size: 4em;

    &.sticked-icon{
        font-size: inherit;
        padding-left: 6.5em;

        &[class^="icon-"]:before,
        &[class*=" icon-"]:before{
            position: absolute;
            top: 0.5em;
            left: 0.5em;
            font-family: 'icoreactoplayer';
            font-size: 4em;
        }
    }

    &>.shim{
            display: none;
    }
}
.icon-2x-solo {
  padding-left:3rem;
  padding-right:1rem;
  padding-top:1rem;
  padding-bottom:1rem;
    &[class^="icon-"]:before,
    &[class*=" icon-"]:before{
      font-size: 2rem;
      position: absolute;
      top: 0.25em;
      left: 0.25em;
      font-family: 'icoreactoplayer';
  }
  &.icoAft {

    &[class^="icon-"]:before,
    &[class*=" icon-"]:before{
      top: 0.25em;
      right: 0em;
      left:auto;
    }
  }
  &.button.go {

    margin-left:1rem;
    padding-right:3rem;
    padding-left:1rem;
    padding-top:1rem;
    padding-bottom:1rem;

  }

}


// take icon by data

*,.icon-2x-solo ,.icon-3x,.icon-4x {
  position: relative;
  &[data-icon]:before {
    top:1rem;
  font-family: 'icoreactoplayer';
  content: attr(data-icon);
  speak: none;
  line-height: 0;

}
}

// Icon list
/*
 *
 * HERE GOES THE ICONS FROM THE style.css bundled in the icomoon archive
 *
 */

 .icon-cloud-fetch:before {
 	content: "\f00c";
 }
 .icon-database-fetch:before {
 	content: "\f096";
 }
 .icon-p_gear:before {
 	content: "\f02f";
 }
 .icon-issue-reopened:before {
 	content: "\f027";
 }
 .icon-p_playlist:before {
 	content: "\f061";
 }
 .icon-p_next:before {
 	content: "\f0bd";
 }
 .icon-p_pause:before {
 	content: "\f0bb";
 }
 .icon-p_play:before {
 	content: "\f0bf";
 }
 .icon-p_prev:before {
 	content: "\f0bc";
 }
 .icon-p_settings:before {
 	content: "\f07c";
 }
 .icon-p_sync:before {
 	content: "\f087";
 }
 .icon-p_vol_inc:before {
 	content: "\f0ba";
 }
 .icon-p_vol_mute:before {
 	content: "\e801";
 }
 .icon-music:before {
 	content: "\f001";
 }
 .icon-p_vol_dec:before {
 	content: "\f028";
 }
 .icon-p_vol_max:before {
 	content: "\f029";
 }
 .icon-p_cover:before {
 	content: "\f03e";
 }
 .icon-p_eject:before {
 	content: "\f052";
 }
 .icon-p_random:before {
 	content: "\f074";
 }
