@charset 'UTF-8';

// PROGRESS - COMMON

.progress-wrapper {
  $track-bg: rgba(85, 85, 85, 0.78);
  $track-bg2: rgba(85, 90, 120, 0.78);
  $track-bg3: rgba(85, 95, 100, 0.78);


  $track-sw: $black;
  $track-sw2: #0d0d0d;

  $thumb-bg: $silver;
  $thumb-sw: #000031;
  $thumb-sw2: #00004b;
  $thumb-border: #00001e;
  $thumb-width: 15px;
  $thumb-height: 15px;

  @import 'track';
  @import 'thumb';

  input[type=range].progress {
    -webkit-appearance: none;
    width: 100%;
    margin: 7.3px 0;
    outline: none;

    @extend %webkit-track;
    @extend %moz-track;
    @extend %ms-track;

    @extend %webkit-thumb;
    @extend %moz-thumb;
    @extend %ms-thumb;
  }

  input[type=range].progress:focus {
    outline: none;
  }
}
