@charset 'UTF-8';

// VOLUME - THUMB

$thumb-shadow: $thumb-shadow;
$thumb-bg: $thumb-bg;
$thumb-sw: $thumb-sw;
$thumb-sw2: $thumb-sw2;
$thumb-border: $thumb-border;
$thumb-width: $thumb-width;
$thumb-height: $thumb-height;

%webkit-thumb {
  &::-webkit-slider-thumb {
    // box-shadow: 0.9px 0.9px 1px $thumb-sw, 0px 0px 0.9px $thumb-sw2;
    box-shadow: $thumb-shadow;
    // border: 1px solid $thumb-border;
    height: $thumb-height;
    width: $thumb-width;
    border-radius: $thumb-border-radius;
    background: $thumb-bg;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
    @extend %white-gradient;
  }
}

%moz-thumb {
  &::-moz-range-thumb {
    box-shadow: 0.9px 0.9px 1px $thumb-sw, 0px 0px 0.9px $thumb-sw2;
    // border: 1px solid $thumb-border;
    height: $thumb-width;
    width: $thumb-width;
    border-radius: $thumb-border-radius;
    background: $thumb-bg;
    cursor: pointer;
  }
}

%ms-thumb {
  &::-ms-thumb {
    box-shadow: 0.9px 0.9px 1px $thumb-sw, 0px 0px 0.9px $thumb-sw2;
    // border: 1px solid $thumb-border;
    height: $thumb-width;
    width: $thumb-width;
    border-radius: $thumb-border-radius;
    background: $thumb-bg;
    cursor: pointer;
    height: 11.4px;
  }
}
