@charset 'UTF-8';

// VOLUME - TRACK

$track-bg: $track-bg;
$track-bg2: $track-bg2;
$track-bg3: $track-bg3;

$track-sw: $track-sw;
$track-sw2: $track-sw2;

%webkit-track {
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 0.5px $track-sw, 0px 0px 0.5px #0d0d0d;
    background: $track-bg;
    border-radius: 1px;
    border: 0.2px solid #010101;
  }
  &:focus::-webkit-slider-runnable-track {
    background: $track-bg2;
  }
}

%moz-track {
  &::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 0.5px $track-sw, 0px 0px 0.5px #0d0d0d;
    background: $track-bg2;
    border-radius: 1px;
    border: 0.2px solid #010101;
  }
}

%ms-track {
  &::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
    cursor: pointer;
    height: 5px;
    width: 100%;
  }

  &::-ms-fill-lower {
    background: $track-bg3;
    border: 0.2px solid #010101;
    border-radius: 2px;
    box-shadow: 0.5px 0.5px 0.5px $track-sw, 0px 0px 0.5px #0d0d0d;
  }

  &::-ms-fill-upper {
    background: $track-bg2;
    border: 0.2px solid #010101;
    border-radius: 2px;
    box-shadow: 0.5px 0.5px 0.5px $track-sw, 0px 0px 0.5px #0d0d0d;
  }

  &:focus::-ms-fill-lower {
    background: $track-bg2;
  }

  &:focus::-ms-fill-upper {
    background: $track-bg;
  }
}
